[submodule "GCODE"]
	path = GCODE
	url = https://github.com/fildz-research/QPad-GCODE.git
[submodule "STL"]
	path = STL
	url = https://github.com/fildz-research/QPad-STL.git
[submodule "3MF"]
	path = 3MF
	url = https://github.com/fildz-research/QPad-3MF.git
